@import url("https://fonts.googleapis.com/css?family=Amaranth|Courgette");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu+Mono:ital@0;1&display=swap");
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: Amaranth;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  padding-inline-start: 0;
}

input[type="submit"]:hover,
ul > li:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.log-out:hover {
  color: red;
  transform: scale(1.1);
}

li,
.log-out {
  list-style-type: none;
  display: inline-block;
  border: 2px solid lightsteelblue;
  padding: 10px;
  margin: 10px;
  width: 100px;
  text-align: center;
}

nav {
  background: cornflowerblue;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
}

.right-container {
  text-align: center;
  margin: 0 5px;
  color: white;
}

/* img {
  width: 35px;
  height: 35px;
  margin-top: 25px;
} */

h2 {
  font-size: 50px;
}

label {
  color: gray;
  font-size: 25px;
}

section {
  text-align: center;
  margin-top: 5px;
  position: relative;
  padding-bottom: 6px;
}

form {
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
  width: 200px;
  border: 2px solid lightsteelblue;
  padding: 5px;
}

.create,
.save-changes,
.login,
.register {
  background: cornflowerblue;
  color: white;
  border: 2px solid lightsteelblue;
  padding: 15px;
  width: 100px;
}

footer {
  margin-top: 50px;
  text-align: center;
  background: cornflowerblue;
  padding: 20px 0;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
#home-page {
  background: url("../../static/img/home-page.jpg") no-repeat;
  background-size: cover;
}

.background-img {
  display: inline-block;
  border-radius: 50px;
  background: url("../../static/img/home-photo.png") no-repeat center;
  margin-bottom: 3%;
  min-height: 500px;
  width: 15%;
}
.intro-text {
  display: inline-block;
  background-color: #3995d24c;
  border: 5px solid #3996d2;
  border-radius: 24px;
  padding: 0%;
  width: 60%;
  margin-left: 40px;
}
.intro-text p {
  color: white;
  padding: 30px;
  margin: 4% auto;
  font-family: "Ubuntu Mono", monospace;
  font-size: 20px;
}
#title-home {
  color: white;
  text-align: center;
  padding: 50px;
  margin: 0 auto;
  font-size: 62px;
  font-family: "Permanent Marker", cursive;
  font-family: "Ubuntu Mono", monospace;
}

.guest {
  display: block;
  width: 30%;
  height: 30%;
  margin: 0 auto;
}

.destination-parameters {
  text-align: left;
}

.destination-parameters span {
  margin-left: 35px;
  font-size: 35px;
}

.single-ticket {
  display: flex;
  margin: auto;
  background: cornflowerblue;
  padding-bottom: 30px;
  width: 80%;
  margin-top: 5px;
}

.destination-img {
  width: 100%;
  height: 300px;
  margin-left: 20px;
}

.left-ticket-container {
  width: 49%;
}

.right-ticket-container {
  text-align: left;
  margin-left: 50px;
  width: 45%;
}

.number-of-tickets {
  margin-top: 5px;
  font-size: 35px;
}

.right-ticket-container p {
  font-size: 25px;
}

.remove {
  float: right;
  list-style-type: none;
  display: inline-block;
  border: 2px solid lightsteelblue;
  padding: 10px;
  margin: 10px;
  width: 140px;
  text-align: center;
  color: red;
  background: none;
}
.remove:hover {
  transform: scale(1.1);
}

.details {
  float: right;
  list-style-type: none;
  display: inline-block;
  border: 2px solid lightsteelblue;
  padding: 10px;
  margin: 10px;
  width: 140px;
  text-align: center;
  color: black;
  background: none;
}

.details:hover {
  transform: scale(1.1);
}

.right-ticket-container div {
  display: flex;
  margin-top: 40px;
}

.right-ticket-container .remove {
  margin-left: 260px;
}

.ticket-checkout {
  font-size: 25px;
  height: 150px;
  padding: 15px;
}

.total {
  margin: 10px;
}

.checkout {
  border: 2px solid lightskyblue;
  padding: 14px;
  margin: 10px;
  width: 160px;
  text-align: center;
  color: white;
  background: lightsteelblue;
  font-size: 20px;
}

.search {
  background: cornflowerblue;
  color: white;
  border: 2px solid lightsteelblue;
  padding: 15px;
  width: 120px;
  font-size: 20px;
  display: block;
}

.added-destination {
  color: black;
  cursor: pointer;
  width: 400px;
  border: 2px solid blue;
  text-align: center;
  background: cornflowerblue;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  height: 250px;
  flex-basis: 25%;
}

 
.picture-added-destination {
  width: 200px;
  height: 150px;
  border-radius: 50%;
}

.picture-added-destination:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.added-destinations {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.save-changes {
  width: 140px;
}

.edit-destination-detail {
  background: url("../../static/img/pencil.png") center;
  width: 50px;
  height: 50px;
  border: 2px solid blue;
  border-radius: 100%;
  display: inline-block;
  margin-right: 3px;
}

.edit-destination-detail:hover {
  transform: scale(1.1);
}

.destination-area-left img {
  width: 100%;
  height: 90%;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0;
}

.destination-area {
  display: flex;
  justify-content: center;
  background: cornflowerblue;
  width: 60%;
  margin: auto;
  height: 235px;
  color: white;
}

.destination-area-right {
  float: left;
  text-align: center;
  padding-top: 30px;
}

.seat-form {
  display: inline-flex;
}

.seat-form input,
button {
  margin: 20px;
}

.seat-form span {
  margin: 20px;
}

.delete {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid blue;
  color: red;
  margin: 20px;
}

.navigation {
  margin: auto;
}

.destination-ticket {
  text-align: left;
  font-size: 15px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.destination-left img {
  width: 400px;
  height: 70%;
  padding: 0 0 0 15px;
}

.destination-right {
  padding-left: 20px;
  font-size: 20px;
}

h3 {
  font-size: 22px;
  margin-bottom: 0;
}

.nav-register {
  text-align: center;
}

.notification {
  position: fixed;
  z-index: 10;
  top: 6rem;
  right: 5rem;
  margin: 1rem auto;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  font-style: italic;
  text-decoration: underline;
  box-shadow: 0 5px 10px rgb(204, 204, 204);
  display: none;
}

.loadingBox {
  background: #7cb3e9;
}

.infoBox {
  background: #393;
}

.errorBox {
  background: #f50;
}

.about-us-page {
  height: 100%;
  display: block;
  margin: 10px;
}
.about-us-page .column img {
  width: 100%;
  height: 70%;
}
.about-us-page .column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.about-us-page .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-us-page .about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.about-us-page .container {
  display: inline-block;
}
.about-us-page .container {
  padding: 0 16px;
}

.about-us-page .container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.about-us-page .title {
  color: grey;
}

.about-us-page .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 22px;
}
#about-par {
  color: white;
  padding: 30px;
  margin: 4% auto;
  font-family: "Ubuntu Mono", monospace;
  font-size: 20px;
}
.about-us-page .button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .about-us-page .column {
    width: 100%;
    display: block;
  }
}

/* COMMENT FORM  */
.commentsBox {
  width: 70%;
  border-radius: 25px;
  background: #c1c2c7;
  margin: 20px;
}
.commentsBox h2 {
  padding-left: 0;
  font-family: "Courier New", Courier, monospace;
  float: inline-end;
  font-size: 26px;
  color: rgb(71, 71, 71);
}
.commentsBox p {
  font-family: "Courier New", Courier, monospace;
  margin-left: 40px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  color: rgb(0, 0, 0);
}
.comments-form {
  overflow: hidden;
  border-radius: 25px;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #6495ed;
  font-family: "Balsamiq Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 70%;
  padding: 30px 90px 90px 90px;
  border: 6px solid rgba(0, 0, 0, 0.3);
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  position: relative;
}

.card h2 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 25px;
  text-transform: uppercase;
}

.card .row {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 20px;
}

.card .row .col {
  position: relative;
  width: 100%;
  margin: 30px 10px 40px 0;
  transition: 0.5s;
}

.card .row .form-group {
  position: relative;
  width: 100%;
  height: 40px;
  color: #ffffff;
}

.card .row .form-group input,
.card .row .form-group textarea {
  position: absolute;
  width: 90%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 24px;
  padding: 10px 0 10px 20px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(161, 155, 155, 0.3);
  color: #ffffff;
  border-radius: 50px;
}

.card .row .form-group label {
  line-height: 30px;
  color: #ffffff;
  font-size: 22px;
  margin: 0 0 0 30px;
  display: block;
  pointer-events: none;
}

.row .col:nth-child(6) {
  margin-top: 64px;
}

.card .row .form-group input:focus,
.card .row .form-group textarea:focus {
  border: 5px solid #ffffff;
  transition: all 0.5s;
}

.card .row input[type="submit"] {
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  height: 100%;
  width: 50%;
  cursor: pointer;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 45px;
  transition: all 0.4s;
}

.card .row input[type="submit"]:hover {
  border: 5px solid rgba(255, 255, 255, 1);
  color: #ffffff;
  transition: all 0.4s;
}

@media screen and (max-width: 900px) {
  .card .row {
    grid-template-columns: repeat(auto-fit, minmax(70%, 1fr));
  }

  .card {
    padding: 20px;
  }

  .card h2 {
    font-size: 34px;
  }

  .card .row input[type="submit"] {
    width: 100%;
  }
}
 

.login-root h1 {
  letter-spacing: -1px;
}
.login-root a {
color: #5469d4;
text-decoration: unset;
}
.login-root {
 padding: 0;
margin: 0;
color: #1a1f36;
box-sizing: border-box;
word-wrap: break-word;
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
  background: #fff;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.login-root .loginbackground {
  min-height: 692px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 1;
  z-index: 0;
  overflow: hidden;
}
.login-root .flex-flex {
  display: flex;
}
.login-root .align-center {
align-items: center; 
}
.login-root .center-center {
align-items: center;
justify-content: center;
}
.box-root {
  box-sizing: border-box;
}
.login-root .flex-direction--column {
  -ms-flex-direction: column;
  flex-direction: column;
}
.login-root .loginbackground-gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [start] 1fr [left-gutter] (86.6px)[16] [left-gutter] 1fr [end];
  grid-template-columns: [start] 1fr [left-gutter] repeat(16,86.6px) [left-gutter] 1fr [end];
  -ms-grid-rows: [top] 1fr [top-gutter] (64px)[8] [bottom-gutter] 1fr [bottom];
  grid-template-rows: [top] 1fr [top-gutter] repeat(8,64px) [bottom-gutter] 1fr [bottom];
  justify-content: center;
  margin: 0 -2%;
  transform: rotate(-12deg) skew(-12deg);
}
.box-divider--light-all-2 {
  box-shadow: inset 0 0 0 2px #e3e8ee;
}
.box-background--blue {
  background-color: #5469d4;
}
.box-background--white {
background-color: #ffffff; 
}
.box-background--blue800 {
  background-color: #212d63;
}
.box-background--gray100 {
  background-color: #e3e8ee;
}
.box-background--cyan200 {
  background-color: #7fd3ed;
}
.padding-top--64 {
padding-top: 64px;
}
.padding-top--24 {
padding-top: 24px;
}
.padding-top--48 {
padding-top: 48px;
}
.padding-bottom--24 {
padding-bottom: 24px;
}
.padding-horizontal--48 {
padding: 48px;
}
.padding-bottom--15 {
padding-bottom: 15px;
}


.login-root .flex-justifyContent--center {
-ms-flex-pack: center;
justify-content: center;
}

.login-root .formbg {
  margin: 0px auto;
  width: 100%;
  max-width: 448px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
.login-root span {
  display: block;
  font-size: 20px;
  line-height: 28px;
  color: #1a1f36;
}
.login-root label {
  margin-bottom: 10px;
}
.reset-pass a,label {
  font-size: 14px;
  font-weight: 600;
  display: block;
}
.reset-pass > a {
  text-align: right;
  margin-bottom: 10px;
}
.grid--50-50 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
#stripe-login > div:nth-child(2) > input[type=text] {

  line-height: 98px;
}

.login-root .field input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.login-root input[type="submit"] {
  background-color: rgb(84, 105, 212);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
              rgb(84, 105, 212) 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.login-root .field-checkbox input {
  width: 20px;
  height: 15px;
  margin-right: 5px; 
  box-shadow: unset;
  min-height: unset;
}
.login-root .field-checkbox label {
  display: flex;
  align-items: center;
  margin: 0;
}
.login-root a.ssolink {
  display: block;
  text-align: center;
  font-weight: 600;
}
.footer-link span {
  font-size: 14px;
  text-align: center;
}
.listing a {
  color: #697386;
  font-weight: 600;
  margin: 0 10px;
}

.animationRightLeft {
animation: animationRightLeft 2s ease-in-out infinite;
}
.animationLeftRight {
animation: animationLeftRight 2s ease-in-out infinite;
}
.tans3s {
animation: animationLeftRight 3s ease-in-out infinite;
}
.tans4s {
animation: animationLeftRight 4s ease-in-out infinite;
}

@keyframes animationLeftRight {
0% {
  transform: translateX(0px);
}
50% {
  transform: translateX(1000px);
}
100% {
  transform: translateX(0px);
}
} 

@keyframes animationRightLeft {
0% {
  transform: translateX(0px);
}
50% {
  transform: translateX(-1000px);
}
100% {
  transform: translateX(0px);
}
} 